* {
    font-weight: bold;
    font-family: monospace;
    font-size:xx-large;
    color:gray;

}

body {
    background-color: rgb(219, 87, 87);
    overflow-x:hidden;
    margin: 0;
    padding: 0;
    border: 2px solid red; 
}

.title {
    position: relative;
    font-size: 50px;
    margin-bottom: 40px;
    left: 140px;
    color:rgb(41, 212, 212);
    width:max-content;
    -webkit-transition: color 2s;
    transition: color 2s;
    
}

.title:hover {
    color: rgb(0, 98, 128);
}
.container {
    width: 200px;
    height: 200px;
    background-color: rgb(255, 255, 255);
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;
    position: relative;
    overflow-y:auto;
    overflow-x:hidden;

}

.head {
    width:200px;
    height:70px;
    background-color:yellow;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    text-align:center;
    position: relative;
    
}

@media only screen and (max-width: 900px) {

    #change-background-color {
        background-color:rgb(197, 190, 190);
    }

    #change-the-font-size {
        font-size:x-large;
        
    }

    .change-background-color {
        top: -270px;
        left: 230px;
    }

    #change-font {
        font-family: cursive;
    }

    .change-the-font-size {
        top: -536px;
        left: 460px
    }

    .change-the-text-color {
        top: -500px;
    }

    #change-the-text-color {
        color:red;
    }

    .change-the-font-weight {
        top: -770px;
        left: 250px
    }

    #change-the-font-weight {
        font-weight:lighter;
    }

    .change-the-font-style {
        top: -1040px;
        left: 480px;
    }

    #change-the-font-style {
        font-style: italic;
    }

    .add-the-line-from-text {
        top: -1020px;
    }

    #add-the-line-from-text {
        text-decoration: underline;
    }

    .make-a-linear-gradient {
        top: -1285px;
        left: 240px;
    }

    #make-a-linear-gradient{
        background: linear-gradient(45deg, red, blue);
        
    }

    .change-x-index {
        top: -1560px;
        left: 480px;
    }

    #change-x-index {
        z-index: 3;
    }

    .add-a-border {
        top: -1530px;
    }

    #add-a-border {
        border: 3px solid red;
    }

}

@media only screen and (min-width: 901px) and (max-width: 1109px)  {
    #change-background-color {
        background-color:rgb(197, 190, 190);
    }

    .change-background-color {
        top: -270px;
        left: 230px;
    }

    #change-the-font-size {
        font-size:x-large;
        
    }

    .change-the-font-size {
        top: -536px;
        left: 460px
    }

    #change-font {
        font-family: cursive;
    }

    .change-the-text-color {
        top: -805px;
        left: 680px;
    }

    #change-the-text-color {
        color: red;
    }

    .change-the-font-weight {
        top: -805px;
    }

    #change-the-font-weight {
        font-weight:lighter;
    }

    .change-the-font-style {
        top: -1070px;
        left: 230px;
    }

    #change-the-font-style {
        font-style: italic;
    }

    .add-the-line-from-text {
        top: -1335px;
        left: 460px;
    }

    #add-the-line-from-text {
        text-decoration: underline;
    }

    .make-a-linear-gradient {
        top: -1600px;
        left: 680px;
    }

    #make-a-linear-gradient{
        background: linear-gradient(45deg, red, blue);
    }

    .change-x-index {
        top: -1580px;

    }

    #change-x-index {
        z-index: 3;
    }

    .add-a-border {
        top: -1860px;
        left: 240px;
    }

    #add-a-border {
        border: 3px solid red;
    }
}

@media only screen and (min-width: 1100px) and (max-width:1299px) {
    #change-background-color {
        background-color:rgb(197, 190, 190);
    }

    .change-background-color {
        top: -270px;
        left: 230px;
    }

    #change-the-font-size {
        font-size:x-large;
        
    }

    .change-the-font-size {
        top: -536px;
        left: 460px
    }

    #change-font {
        font-family: cursive;
    }

    .change-the-text-color {
        top: -805px;
        left: 680px;
    }

    #change-the-text-color {
        color: red;
    }

    .change-the-font-weight {
        top: -805px;
    }

    #change-the-font-weight {
        font-weight:lighter;
    }

    .change-the-font-style {
        top: -1350px;
        left: 890px;
    }

    #change-the-font-style {
        font-style: italic;
    }

    .add-the-line-from-text {
        top: -1340px;
        left: 230px;
    }

    #add-the-line-from-text {
        text-decoration: underline;
    }

    .make-a-linear-gradient {
        top: -1610px;
        left: 465px;
    }

    #make-a-linear-gradient{
        background: linear-gradient(45deg, red, blue);
    }

    .change-x-index {
        top: -1875px;
        left: 680px;
    }

    #change-x-index {
        z-index: 3;
    }

    .add-a-border {
        left: 890px;
        top: -2150px;
    }

    #add-a-border {
        border: 3px solid red;
    }


}

@media only screen and (min-width: 1300px) {
    #change-background-color {
        background-color:rgb(197, 190, 190);
    }

    .change-background-color {
        top: -270px;
        left: 230px;
    }

    #change-the-font-size {
        font-size:x-large;
        
    }

    .change-the-font-size {
        top: -536px;
        left: 460px
    }

    #change-font {
        font-family: cursive;
    }

    .change-the-text-color {
        top: -805px;
        left: 680px;
    }

    #change-the-text-color {
        color: red;
    }

    .change-the-font-weight {
        top: -1080px;
        left: 1110px;
    }

    #change-the-font-weight {
        font-weight:lighter;
    }

    .change-the-font-style {
        top: -1350px;
        left: 890px;
    }

    #change-the-font-style {
        font-style: italic;
    }

    .add-the-line-from-text {
        top: -1340px;
    }

    #add-the-line-from-text {
        text-decoration: underline;
    }

    .make-a-linear-gradient {
        top: -1610px;
        left: 230px;
    }

    #make-a-linear-gradient{
        background: linear-gradient(45deg, red, blue);
        
    }

    .change-x-index {
        top: -1875px;
        left: 460px;
    }

    #change-x-index {
        z-index: 3;
    }

    .add-a-border {
        top: -2150px;
        left: 680px;
    }

    #add-a-border {
        border: 3px solid red;
    }
}

::-webkit-scrollbar {
    background-color:rgb(74, 187, 98);
}

::-webkit-scrollbar-thumb {
    background-color:rgb(71, 167, 84);
}





